html, body {
    width: 100%;
    height: 100%;
}

#main-section {
  width: 600px;
  height: 100%;
  margin:0 auto;
}

.weather-widget {
  position: relative;
  width: 300px;
  height: 200px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.lemon {
  font-family: Lemon;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}



